@import "/imports/ui/stylesheets/variables/_all";

var(--more-icon-font-size:) 12px;
var(--more-icon-line-height:) 16px;

%list {
  list-style: none;
  font-size: var(--font-size-base);
  margin: 0;
  padding: 0;
  text-align: left;
  color: var(--color-gray-dark);
  display: flex;
  overflow-wrap: break-word;
  white-space: pre-line;

  @include mq(var(--small-only)) {
	font-size: var(--font-size-large) * 1.1;
	padding: var(--line-height-computed);
  }
}

.verticalList {
  @extend %list;
  flex-direction: column;
}

.horizontalList {
  @extend %list;
  padding: 0;
  flex-direction: row;
  @include mq(var(--small-only)) {
	flex-direction: column;
	padding: var(--line-height-computed);
  }
}

.title {
  color: var(--color-gray);
  font-weight: 600;
  width: 100%;
}

.separator {
  display: flex;
  flex: 1 1 100%;
  height: 1px;
  min-height: 1px;
  background-color: var(--color-gray-lighter);
  padding: 0;
  margin-top: var(--line-height-computed) * .5;
  margin-bottom: var(--line-height-computed) * .5;
}

.item {
  display: flex;
  flex: 1 1 100%;

  @include mq(var(--small-only)) {
	justify-content: center;
  }

  .verticalList & {
	padding: (var(--line-height-computed) / 3) 0;

	@include mq(var(--small-only)) {
	  padding: (var(--line-height-computed) / 1.5) 0;
	}
  }

  .horizontalList & {
	padding: 0 (var(--line-height-computed) / 3);

	@include mq(var(--small-only)) {
	  padding: (var(--line-height-computed) / 1.5) 0;
	}
  }

  &:hover,
  &:focus {
	cursor: pointer;
	outline: none;
	background-color: var(--color-primary);
	color: var(--color-white);

	.verticalList & {
	  margin-left: -(var(--line-height-computed) / 2);
	  margin-right: -(var(--line-height-computed) / 2);
	  padding-left: (var(--line-height-computed) / 2);
	  padding-right: (var(--line-height-computed) / 2);
	}

	.horizontalList & {
	  margin-top: -(var(--line-height-computed) / 2);
	  margin-bottom: -(var(--line-height-computed) / 2);
	  padding-top: (var(--line-height-computed) / 2);
	  padding-bottom: (var(--line-height-computed) / 2);

	  @include mq(var(--small-only)) {
	    margin: 0;
	    padding: (var(--line-height-computed) / 1.5) 0;
	    margin-left: -(var(--line-height-computed) / 2);
	    margin-right: -(var(--line-height-computed) / 2);
	    padding-left: (var(--line-height-computed) / 2);
	    padding-right: (var(--line-height-computed) / 2);
	  }
	}

	@include mq(var(--small-only)) {
	  border-radius: 0.2rem;
	}

	.iconRight,
	.itemIcon,
	.itemLabel {
	  color: inherit;
	}
  }

  &:focus {
	box-shadow: 0 0 0 2px var(--color-white), 0 0 2px 4px rgba(var(--color-primary), .4);
  }
}

.iconRight,
.itemIcon {
  margin-right: (var(--line-height-computed) / 2);
  color: var(--color-text);
  flex: 0 0;
}

.iconRight {
  margin-right: -var(--indicator-padding-left);
  margin-left: var(--sm-padding-x);
  font-size: var(--more-icon-font-size);
  line-height: var(--more-icon-line-height);
}

.itemLabel {
  color: var(--color-gray-dark);
  font-size: 90%;
  flex: 1;
}
