@import "/imports/ui/stylesheets/variables/_all";

var(--btn-default-color:) var(--color-gray);
var(--btn-default-bg:) var(--color-white);
var(--btn-default-border:) var(--color-white);

var(--btn-primary-color:) var(--color-white);
var(--btn-primary-bg:) var(--color-primary);
var(--btn-primary-border:) var(--color-primary);

var(--btn-success-color:) var(--color-white);
var(--btn-success-bg:) var(--color-success);
var(--btn-success-border:) var(--color-success);

var(--btn-danger-color:) var(--color-white);
var(--btn-danger-bg:) var(--color-danger);
var(--btn-danger-border:) var(--color-danger);

var(--btn-border-size:) var(--border-size);
var(--btn-border-radius:) var(--border-radius);
var(--btn-font-weight:) 600;
var(--btn-spacing:) .35rem;

var(--btn-sm-font-size:) var(--font-size-small) * .85;
var(--btn-sm-padding:) var(--sm-padding-y) var(--sm-padding-x);

var(--btn-md-font-size:) var(--font-size-base) * .85;
var(--btn-md-padding:) var(--md-padding-y) var(--md-padding-x);

var(--btn-lg-font-size:) var(--font-size-large) * .85;
var(--btn-lg-padding:) var(--lg-padding-y) var(--lg-padding-x);

var(--btn-jumbo-font-size:) 3rem;
var(--btn-jumbo-padding:) var(--jumbo-padding-y) var(--jumbo-padding-x);

/* Base
 * ==========
 */
.button {
  border: none;
  outline: none;
  overflow: visible;
  display: inline-block;
  border-radius: var(--border-size);
  font-weight: var(--btn-font-weight);
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  transition: all .2s ease-in-out;

  &:hover,
  &:focus {
	text-decoration: none;
  }

  &:active {
	background-image: none;
	outline: 0;
  }

  &[aria-disabled="true"] {
	cursor: not-allowed;
	opacity: .65;
	box-shadow: none;
  }

  &,
  &:active {
	&:focus {
	  span:first-of-type::before {
	    border-radius: var(--border-size);
	  }
	}
  }
}

.buttonWrapper {
  border: none;
  overflow: visible !important;
  display: inline-block;
  outline: none;

  &,
  &:active {
	&:focus {
	  span:first-of-type::before {
	    border-radius: 50%;
	  }
	}
  }

  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background: none;
  padding: 0 !important;

  &[aria-disabled="true"] > span {
	cursor: not-allowed;
	opacity: .65;
	box-shadow: none;
  }
}

.label {
  .buttonWrapper & {
	opacity: .85;
	display: block;
	margin-top: var(--btn-spacing);
	color: #fff;
	font-weight: normal;
	line-height: 1.5;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;


  }

  .buttonWrapper.sm & {
	display: inline-block;
	margin-top: 0;
	margin-left: var(--btn-spacing);
  }

  & + .icon,
  & + .button  {
	margin-left: var(--btn-spacing);
  }
  &:hover {
	opacity: .5;
  }
}

.hideLabel {
  font-size: 0;
  height: 0;
  width: 0;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden;
  display: block;
}

.icon {
  width: 1.28571429em;
  text-align: center;
  color: #fff;

  .buttonWrapper & {
	font-size: 125%;
  }

  & + .label {
	margin-left: var(--btn-spacing);
  }
  .buttonWrapper:hover & {
	opacity: .75;
  }
}

/* Colors
 * ==========
 */

@mixin button-variant(var(--color), var(--background), var(--border)) {
  var(--active-background:) darken(var(--background), 10%);
  var(--active-border:) darken(var(--border), 12%);

  color: var(--color);
  background-color: var(--background);
  border: var(--border-size-large) solid transparent;

  &:focus,
  .buttonWrapper:focus:not([aria-disabled="true"]) & {
	outline: none !important;
	color: var(--color);
	background-color: var(--background);
	background-clip: padding-box;
	border: var(--border-size-large) solid transparent;
	box-shadow: 0 0 0 var(--border-size) var(--border);
  }

  &:hover,
  .buttonWrapper:hover & {
	color: var(--color);
	background-color: var(--active-background);
	border-color: var(--active-border);
	border: var(--border-size-large) solid transparent;
  }
}

@mixin button-ghost-variant(var(--color), var(--variant)) {
  color: var(--color);
  background-image: none;
  background-color: transparent;
  border: var(--border-size-large) solid transparent;

  &:focus,
  .buttonWrapper:focus & {
	color: var(--color);
	outline: none !important;
	background-color: var(--variant);
	background-clip: padding-box;
	border: var(--border-size-large) solid transparent;
	box-shadow: 0 0 0 var(--border-size) var(--color);
  }

  &:hover,
  .buttonWrapper:hover & {
	color: var(--color);
	background-color: var(--variant);
	border-color: var(--variant);
	border: var(--border-size-large) solid transparent;
  }
}

.default {
  @include button-variant(var(--btn-default-color), var(--btn-default-bg), var(--btn-primary-border));
}

.primary {
  @include button-variant(var(--btn-primary-color), var(--btn-primary-bg), var(--btn-primary-border));
}

.success {
  @include button-variant(var(--btn-success-color), var(--btn-success-bg), var(--btn-success-border));
}

.danger {
  @include button-variant(var(--btn-danger-color), var(--btn-danger-bg), var(--btn-danger-border));
}


/* Styles
 * ==========
 */

.block {
  display: block;
  width: 100%;
}

.ghost {
  &.default {
	@include button-ghost-variant(var(--btn-default-bg), var(--btn-default-color));
  }

  &.primary {
	@include button-ghost-variant(var(--btn-primary-bg), var(--btn-primary-color));
  }

  &.success {
	@include button-ghost-variant(var(--btn-success-bg), var(--btn-success-color));
  }

  &.danger {
	@include button-ghost-variant(var(--btn-danger-bg), var(--btn-danger-color));
  }
}

.circle {
  var(--btn-sm-padding-x:) nth(var(--btn-sm-padding), 2) / 2.75;
  var(--btn-md-padding-x:) nth(var(--btn-md-padding), 2) / 2.75;
  var(--btn-lg-padding-x:) nth(var(--btn-lg-padding), 2) / 2.75;
  var(--btn-jumbo-padding-x:) nth(var(--btn-jumbo-padding), 2) / 2.75;

  border-radius: 50%;

  &.sm {
	padding-right: var(--btn-sm-padding-x);
	padding-left: var(--btn-sm-padding-x);
  }

  &.md {
	padding-right: var(--btn-md-padding-x);
	padding-left: var(--btn-md-padding-x);
  }

  &.lg {
	padding-right: var(--btn-lg-padding-x);
	padding-left: var(--btn-lg-padding-x);
  }

  &.jumbo {
	padding-right: var(--btn-jumbo-padding-x);
	padding-left: var(--btn-jumbo-padding-x);
  }
}

/* Sizes
 * ==========
 */

.sm {
  font-size: var(--btn-sm-font-size);
  padding: var(--btn-sm-padding);
}

.md {
  font-size: var(--btn-md-font-size);
  padding: var(--btn-md-padding);
}

.lg {
  font-size: var(--btn-lg-font-size);
  padding: var(--btn-lg-padding);
}

.jumbo {
  font-size: var(--btn-jumbo-font-size);
  padding: var(--btn-jumbo-padding);
}
